*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:"Arial",sans-serif;
}


body{

    background:#edf9ee;

    min-height:100vh;

}



/* Header */

header{

    background:linear-gradient(135deg,#56CCF2,#2F80ED);

    color:white;

    text-align:center;

    padding:25px 10px;

}


header h1{

    font-size:35px;

}


header p{

    margin-top:8px;

    font-size:18px;

}



/* Dashboard */

.dashboard-container{

    width:95%;

    max-width:900px;

    margin:30px auto;

    display:grid;

    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));

    gap:20px;

}



/* Card */

.profile-card,
.menu-card{

    background:white;

    padding:25px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

}



h2{

    color:#0b7a32;

    text-align:center;

    margin-bottom:15px;

}



hr{

    margin-bottom:20px;

}




p{

    margin:15px 0;

    font-size:16px;

    color:#333;

}




strong{

    color:#0b7a32;

}




/* Buttons */

button{


    width:100%;

    padding:13px;

    margin-top:12px;

    border:none;

    border-radius:8px;

    background:#0b7a32;

    color:white;

    font-size:16px;

    cursor:pointer;


}



button:hover{


    background:#075522;


}



/* Mobile */

@media(max-width:500px){


    .dashboard-container{

        width:92%;

    }


    header h1{

        font-size:28px;

    }


}
