*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial,sans-serif;
}


body{

    background:#edf9ee;

    min-height:100vh;

}


/* Header */

header{

    background:linear-gradient(135deg,#56CCF2,#2F80ED);

    color:white;

    text-align:center;

    padding:25px 10px;

}


header h1{

    font-size:35px;

}


header p{

    margin-top:8px;

    font-size:18px;

}



/* Login Box */

.container{

    width:95%;

    max-width:420px;

    background:white;

    margin:40px auto;

    padding:30px;

    border-radius:15px;

    box-shadow:0 5px 20px rgba(0,0,0,.15);

}



.container h2{

    text-align:center;

    color:#0b7a32;

    margin-bottom:20px;

}



/* Input */

label{

    display:block;

    margin-top:15px;

    margin-bottom:6px;

    font-weight:bold;

}



input{

    width:100%;

    padding:13px;

    border:1px solid #ccc;

    border-radius:8px;

    font-size:16px;

}



input:focus{

    outline:none;

    border-color:#2F80ED;

}



/* Button */

button{

    width:100%;

    padding:13px;

    margin-top:25px;

    background:#0b7a32;

    color:white;

    border:none;

    border-radius:8px;

    font-size:18px;

    cursor:pointer;

}



button:hover{

    background:#075522;

}



/* Message */

#message{

    text-align:center;

    margin-top:15px;

    font-weight:bold;

}



/* Registration Link */

.register-link{

    text-align:center;

    margin-top:20px;

}



.register-link a{

    color:#2F80ED;

    font-weight:bold;

    text-decoration:none;

}



/* Mobile */

@media(max-width:500px){


.container{

    margin:20px auto;

    padding:20px;

}


header h1{

    font-size:28px;

}


}
